[Unit]
Description=annotations-tool
After=network.target firewalld.service

[Service]
User={{ annotation_tool.user }}
ExecStart={{ annotation_tool.installation_path }}/bin/annotation-tool-bankia


[Install]
WantedBy=multi-user.target